.curseclient

minecraftinstance.json

/saves/

/resourcepacks/

/downloads/

/.mixin.out/

/downloads/

/llibrary/

/logs/

/resources/

.ReAuth.cfg

BotaniaVars.dat

OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll

/cache/

crafttweaker.log

/crash-reports/

/discordsuite/

hs_err_pid16268.log

/journeymap/

replay_pid16268.log

/scripts/

/tv-cache/

/valkyrielib/

/fonts/

hs_err_pid46348.log

replay_pid46348.log

usercache.json

usernamecache.json

/mods/OptiFine_1.12.2_HD_U_F5.jar

options.txt