# Ignored folders
/world/
/dumps/
/logs/
/local/
/libraries/
/llibrary/
/screenshots/
/TombManyGraves/
/.mixin.out/
/cache/
/crash-reports/
/fonts/
/journeymap/
/resources/
/saves/
/scripts/
/tv-cache/

# Configs we don't want
config/brandon3055/ResourceCache
config/brandon3055/ProjectIntelligence/ModDocs/
discordsuite/version
discordsuite/win32-x86-64/discord-rpc.dll
config/splash.properties
config/thaumicjei_itemstack_aspects.json
config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
config/AppliedEnergistics2/items.csv
OpenComputersMod-1.7.5.192-lua53-native.64.dll
OpenComputersMod-1.7.5.192-lua52-native.64.dll
valkyrielib/cache/supporters.json
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
.ReAuth.cfg
astralsorcery/gatewayFilter/worldFilter.dat
journeymapdefaults.firstrun
config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourcesProptery.txt
BotaniaVars.dat

# Wildcards
*.zip
**/*.jar.disabled
*.errored
*.log

# Misc
zs_export.json
.curseclient
usernamecache.json
usercache.json
options.txt
ItemDump.txt
WailaErrorOutput.txt
minecraftinstance.json
mods/memory_repo/tyra314
optionsof.txt