# Ignored folders

/world/
/dumps/
/logs/
/screenshots/
/TombManyGraves/
/.mixin.out/
/cache/
/crash-reports/
/fonts/
/journeymap/
/saves/
/tv-cache/
/mods/
/XaeroWaypoints/
/XaeroWaypoints_BACKUP062020/
/asm/
/astralsorcery/gatewayFilter/
/warpDrive_schematics/
/.vscode/


# Configs we don't want

config/brandon3055/ResourceCache
config/brandon3055/ProjectIntelligence/ModDocs/
discordsuite/version
discordsuite/win32-x86-64/discord-rpc.dll
config/splash.properties
config/thaumicjei_itemstack_aspects.json
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
config/AppliedEnergistics2/items.csv
OpenComputersMod-1.7.5.192-lua53-native.64.dll
OpenComputersMod-1.7.5.192-lua52-native.64.dll
valkyrielib/cache/supporters.json
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
.ReAuth.cfg
astralsorcery/gatewayFilter/worldFilter.dat
journeymapdefaults.firstrun
config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourcesProptery.txt
BotaniaVars.dat
config/astralsorcery/amulet_enchantments.cfg


# Wildcards

*.zip
**/*.jar.disabled
*.errored
*.log


# Misc

zs_export.json
.curseclient
usernamecache.json
usercache.json
options.txt
ItemDump.txt
WailaErrorOutput.txt
minecraftinstance.json
mods/memory_repo/tyra314
OptiFine_1.12.2_HD_U_F5.jar
optionsof.txt